#files to ignore for git:
PatentData/
WIPO-alpha-test.csv
WIPO-alpha-train.csv
.git
.idea
embeddingsindex.pkl
PatentPredictionProject/__pycache__
patent-100.vec
train.npy
train_label.npy
test.npy
test_label.npy
checkpoint

train-red.npy
train_label-red.npy
test-red.npy
test_label-red.npy
